.row {
    z-index: 2;
}

div.fondo {
    z-index: 0;
}

.loginBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 570px;
    padding: 60px 40px;
}

.h4 {
    color: white;
}