<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a [routerLink]="['']" routerLinkActive="active" class="navbar-brand">SISTEMAS UNSCH</a></mdb-navbar-brand>

    <!-- Collapsible content -->
    <links>

        <!-- Links -->
           <!-- ===================avatar================== -->
           <li class="nav-item dropdown btn-group" dropdown>
            <a dropdownToggle mdbRippleRadius class="nav-link dropdown-toggle waves-effect waves-dark" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img [src]="urlimg" height="30px" alt="user" class="profile-pic" />
            </a>
            <div class="dropdown-menu animated  ultimo">
                <ul class="dropdown-user">
                    <li>
                        <div class="dw-user-box">
                            <div class="objetfit"><img [src]="urlimg" height="150px" width="150px" alt="user"></div>
                            <div class="u-text">
                                <span class="nombre">alumno</span>
                            </div>
                        </div>
                    </li>
                    <li (click)="cerrarseccion()"><a class="dropdown-item waves-light"><i class="fas fa-power-off"></i>Logout</a></li>
                </ul>
            </div>
        </li>

        <!-- Links -->

    </links>
    <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->